@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.sidebar {
  background-color: #0ea5e9;
  height: 100vh;
  fill: #fff;
  color: #fff;
  font-weight: 900;
}
.main {
  height: 100vh;
}

svg {
  width: 24px;
  height: 24px;
}

.logo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 40px;
  font-size: 24px;
}
.logo-text svg {
  width: 42px;
  height: 42px;
}

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 50px;
}

.icon-text p {
  margin-left: 10px;
}
.list-items {
  margin: 50px 0;
}
