@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.sidebar {
  background-color: #0ea5e9;
  height: 100vh;
  fill: #fff;
  color: #fff;
  font-weight: 900;
}
.main {
  height: 100vh;
}

svg {
  width: 24px;
  height: 24px;
}

.logo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 40px;
  font-size: 24px;
}
.logo-text svg {
  width: 42px;
  height: 42px;
}

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 50px;
}

.icon-text p {
  margin-left: 10px;
}
.list-items {
  margin: 50px 0;
}
.main {
  display: grid;
  grid-template-rows: 20% 80%;
}
img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 900;
}
.content {
  background-color: #d4d4d4;
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
.nav-bar {
  display: flex;
  align-items: center;
  margin: 10px 40px;
}

.form-input {
  width: 600px;
  height: 30px;
  background-color: #d4d4d4;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 200px;
}

.nav-bar img {
  margin-left: 30px;
  margin-right: 35px;
}
.nav-bar p {
  font-weight: bold;
  font-size: 20px;
}

.welcome {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  /* border: 1px solid; */
}
.user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.welcome-profile {
  display: flex;
  margin: 0 20px;
  flex-direction: column;
}
.welcome-text {
  font-size: 12px;
}
.user-profile-text {
  font-size: 24px;
}
.user-profile img {
  width: 72px;
  height: 72px;
}
.buttons {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
}
.buttons button {
  background-color: #0ea5e9;
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin: 15px 20px;
  font-weight: 900;
}
